*.iml
.gradle
/local.properties
.idea/*
!.idea/copyright/
.DS_Store
/build
*/build
/captures
.externalNativeBuild
.cxx
local.properties
/iosApp/DerivedData/
/iosApp/iosApp.xcodeproj/xcuserdata/
/iosApp/iosApp.xcodeproj/project.xcworkspace/xcshareddata/
/iosApp/iosApp.xcodeproj/project.xcworkspace/xcuserdata/
